<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">

</head>


<body class="text-center">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>T.B</strong></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><strong>About</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"><strong>Contact</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><strong>Logout</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container py-5">
        <div class="row">

            <!-- For demo purpose -->
            <div class="col-lg-12 mx-auto mb-5 text-white text-center">
                <h1 class="display-3">Welcome {{name_info.Name}}</h1>
                <p class="lead mb-0">We are Happy to have you with us</p>
                <p class="lead">!! Clean and win !!

                </p>
            </div>
            <!-- END -->

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="h6 font-weight-bold text-center mb-4">Bio Waste</h2>

                    <!-- Progress bar 1 -->
                    {% set bio = (info.Bio/100)*100 %}
                    <div class="progress mx-auto" data-value={{bio}}>
                        <span class="progress-left">
                                  <span class="progress-bar border-primary"></span>
                        </span>
                        <span class="progress-right">
                                  <span class="progress-bar border-primary"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">{{bio|int}}<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <!-- END -->

                    <!-- Demo info -->
                    <div class="row text-center mt-4">
                        <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">This month</span>
                        </div>
                        <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                        </div>
                    </div>
                    <!-- END -->
                </div>
            </div>



            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="h6 font-weight-bold text-center mb-4">Non-Bio Waste</h2>

                    <!-- Progress bar 2 -->
                    {% set nonbio = (info.Non_Bio/100)*100 %}
                    <div class="progress mx-auto" data-value={{nonbio}}>
                        <span class="progress-left">
                                  <span class="progress-bar border-danger"></span>
                        </span>
                        <span class="progress-right">
                                  <span class="progress-bar border-danger"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">{{nonbio|int}}<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <!-- END -->

                    <!-- Demo info-->
                    <div class="row text-center mt-4">
                        <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">This month</span>
                        </div>
                        <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                        </div>
                    </div>
                    <!-- END -->
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="h6 font-weight-bold text-center mb-4">E-waste</h2>

                    <!-- Progress bar 3 -->
                    {% set ewaste = (info.E_waste/100)*100 %}
                    <div class="progress mx-auto" data-value={{ewaste}}>
                        <span class="progress-left">
                                  <span class="progress-bar border-success"></span>
                        </span>
                        <span class="progress-right">
                                  <span class="progress-bar border-success"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">{{ewaste|int}}<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <!-- END -->

                    <!-- Demo info -->
                    <div class="row text-center mt-4">
                        <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">This month</span>
                        </div>
                        <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                        </div>
                    </div>
                    <!-- END -->
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="h6 font-weight-bold text-center mb-4">Total waste</h2>

                    <!-- Progress bar 4 -->
                    {% set avg = ((info.Bio+info.E_waste+info.Non_Bio)/300)*100 %}
                    <div class="progress mx-auto" data-value={{avg}}>
                        <span class="progress-left">
                                  <span class="progress-bar border-warning"></span>
                        </span>
                        <span class="progress-right">
                                  <span class="progress-bar border-warning"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">{{avg|int}}<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <!-- END -->

                    <!-- Demo info -->
                    <div class="row text-center mt-4">
                        <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">This month</span>
                        </div>
                        <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                        </div>
                    </div>
                    <!-- END -->
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <img src="../static/img/img{{current_time}}/plot.png" class="img-fluid rounded mx-auto d-block shadow-lg" alt="Graph error">
    </div>

    <div class="container" style="padding-bottom: 20px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Your Points</h1>
                <p class="lead">Clean and get gifts</p>
                <ul class="list-unstyled">
                    <li>You have <strong>{{info.Points}}</strong> points.</li>
                    <li>Your points will expire in ____ days</li>
                </ul>
                <a href=""><button type="button" class="btn btn-primary btn-lg">Claim your gift</button></a>
            </div>
        </div>
    </div>



    <script src="../static/script.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/clean-blog.min.js"></script>

</body>


</html>